In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df =pd.read_csv('startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
X=df.iloc[:,:-1]
y=df.iloc[:,4]

In [4]:
states=pd.get_dummies(X['State'],drop_first=True)

In [5]:
X=X.drop('State',axis=1)

In [6]:
X=pd.concat([X,states],axis=1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
y_pred = regressor.predict(X_test)
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [13]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

0.9347068473282423